<div class="container">
  <div class="container">

    <div class="portfolio-form">
    <h1>Edit this Portfolio Item</h1>

    <%= render "form", portfolio_item: @portfolio_item %>
    </div>

  </div>
</div>
