<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Portfolio</h3>
      <nav class="nav nav-masthead app-nav">
        <%= nav_helper 'nav-link', 'span' %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown"></a>
          <div class="dropdown-menu">
            <%= login_helper 'dropdown-item' %>
          </div>
        </li>
      </nav>
    </div>
  </header>
