<h1>Sobre mim</h1>
<p>Estudante de sistema de informação do 7º período da faculdade Sapiens. Estagio no TRE(Tibunal regional eleitoral) como desenvolvedor web, onde passo o meu tempo estudao programação web, para trabalhar com o mesmo, me aperfeiçoando a cada dia</p>
