<h1>Sobre mim</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: '220', alt: "Pedro Ceobaniuc" %>

  </div>

  <div class="col-md-8">
    <p>Estudante de sistema de informação do 7º período da faculdade Sapiens. Estagio no TRE(Tibunal regional eleitoral) como desenvolvedor web, onde passo o meu tempo estudao programação web, para trabalhar com o mesmo, me aperfeiçoando a cada dia.</p>

    <p>Pretendo ingressar fundo nesta nova jornada que é a programção, dando acessibilidade e todos os usuários que usufruírem de meus desenvolvimentos, dando um mundo mais acessível a todos.</p>
  </div>
</div>
