<div class="app-card-container">
  <div class="card">
    <h1>Sobre mim</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: '220', alt: "Pedro Ceobaniuc", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                   role="progressbar"
                   aria-valuenow="<%= skill.percent_utilized %>"
                   aria-valuenow="100"
                   style="width: <%= skill.percent_utilized %>%"
                   >
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>Estudante de sistema de informação do 7º período da faculdade Sapiens. Estagio no TRE(Tibunal regional eleitoral) como desenvolvedor web, onde passo o meu tempo estudao programação web, para trabalhar com o mesmo, me aperfeiçoando a cada dia.</p>

        <p>Pretendo ingressar a fundo nesta nova jornada que é a programção, dando acessibilidade a todos os usuários que usufruírem de meus desenvolvimentos, dando um mundo mais acessível a todos.</p>

        <div class="row">
          <p>
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controler="jobHistory"
            >
              Histórico de trabalho
            </button>

            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#courses"
              aria-expanded="false"
              aria-controler="courses"
            >
              Cursos
            </button>

            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#technologies"
              aria-expanded="false"
              aria-controler="technologies"
            >
              Linguagens e tecnologias
            </button>
          </p>
        </div>

         <div class="collapse" id="jobHistory">
            Histórico de trabalho
           <div class="card card-block">
            Antigo - Estágio de suporte no Tribunal de Justiça do Estado de Rondônia. 2017 - 2019
           </div>
           <div class="card card-block">
              Atual - Estágio de desenvolvedor Tribunal Regional Eleitoral do Estado de Rondônia. 2019 - ...
           </div>
         </div>

         <div class="collapse" id="courses">
           Cursos
           <div class="card card-block">
              Dessecting ruby on rails - <p><a href="https://www.udemy.com/course/professional-rails-5-development-course/">Link do curso</a></p>
           </div>
           <div class="card card-block">
              TDD com Ruby on Rails, RSpec e Capybara - <p><a href="https://www.udemy.com/course/rails-tdd/">Link do curso</a></p>
           </div>
         </div>

         <div class="collapse" id="technologies">
           Linguagens e tecnologias
           <div class="card card-block">
              Ruby
           </div>
           <div class="card card-block">
              Ruby on rails
          </div>
           <div class="card card-block">
              Docker
          </div>
           <div class="card card-block">
              Git
          </div>
           <div class="card card-block">
              Linux
          </div>
         </div>

      </div>
    </div>
  </div>
</div>
