

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Minha pagina.</h1>
    <p class="lead">Está página esta sendo desenvolvida em linguagem ruby, com a framework ruby on rails. O principal intuito desta página é mostrar o o meu conhecimento de estudos até agora no curso de desenvolvimento web.</p>
    <p class="lead">
      <%= link_to "Sobre mim", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>
